@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --body-font:'Poppins', sans-serif;
    --h1-font-size:1.75rem;
    --normal-font-size:1.2rem;
    --small-font-size:0.813rem;
    --font-medium:500;
}
body,input,button{
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    
}
input,button{
    border: none;
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
svg{
    fill: white;
    width: 18px;
}
.detailssec{
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.pic{
    margin-right: 10px;
    display: flex;
}
.input-login{
    position: relative;
}
.input-me{
    height: 30px;
    font-size: 1.1rem;
    color: white;
    background-color: transparent;
}
body{
    background-color: white;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url(bgwebsite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container{
    width: 350px;
    height: fit-content;
    border: 1px solid red;
padding: 2.5rem ;
border: 2px solid white;
    background-color: rgba(26, 26, 26, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 20px;
}
.login-h{
    font-size:2.5rem;
    font-weight: 600;
    display: flex;
     margin-block: 20px;
    justify-content: center;
}
.float{
    position: absolute;
left: 0;
    top: 25%;
    font-size: 1.1rem;
}
.inputs-pic{
    display: flex;
}
.show-input{
    display: flex;
    justify-content: space-between;
}
.show{
    display: flex;
}
.remembersec{
    display: flex;
    justify-content: space-between;
    & label{
        margin-left:5px;
    }
    & .check{
        display: flex;
        align-items: center;
    }
    
}
.loginbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    & button{
        padding: 11px 95px;
        border: none;
        border-radius: 8px;
        margin-top: 25px;
        margin-bottom: 35px;
        font-weight: 600;
        font-size: 1.3rem;
    }
}
.registersec{
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
        font-weight: 600;
    }
}